*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("bg.webp");
}

.header{
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px white solid;
}

.headerTitle{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerSettings{
    position: absolute;
    right: 0;
    width: 32px;
    height: 32px;
    padding: 14px;
}

.headerSettings:hover{
    background-color: #252525;
}

.settingsBackdrop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0.4, 0.4, 0.4, 0.9);
}

.settingsWindow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(24, 24, 24);
    padding-left: 24px;
    padding-top: 16px;
    padding-right: 16px;
    width: 470px;
    height: 700px;
    border-radius: 16px;
}

.settingsExit{
    position: relative;
    width: 38px;
    height: 38px;
    padding: 4px;
    float: right;
    border-radius: 48px;
}

.settingsExit:hover{
    background-color: black;
}

.settingsTitle{
    width: 125px;
    margin-bottom: 32px;
    color: white;
    border-bottom: 3px white solid;
    padding-bottom: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.settingsContentContainer{
    width: 100%;
    padding: 0 16px;
}

.settingsLabel{
    margin: 16px 0;
    color: white;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.gameButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    flex-wrap: wrap;
}

.settingsGameButton{
    padding: 8px 16px;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}

.settingsGameGenshin{ background-color: rgb(91, 124, 187); }
.settingsGameGenshin:hover{ background-color: rgb(115, 143, 196); }
.settingsGameStarrail{ background-color: rgb(65, 145, 85); }
.settingsGameStarrail:hover{ background-color: rgb(83, 165, 104); }
.settingsGameWuwa{ background-color: rgb(152, 91, 187); }
.settingsGameWuwa:hover{ background-color: rgb(171, 115, 204); }
.settingsGameDisabled{ background-color: rgb(68, 68, 68); }
.settingsGameDisabled:hover{ background-color: rgb(77, 77, 77); }

#NodeContainer{
    background-color: rgba(0.4, 0.4, 0.4, 0.6);
    margin-top: 100px;
    height: 700px;
    width: 100vw;
}

.node{
    display: flex;
    align-items: center;
    height: 50px;
    position: absolute;
    background-color: azure;
    border-radius: 15px;
}

.nodeTimeRemaining{
    position: absolute;
    right: 10px;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(0.4, 0.4, 0.4, 0.9);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nodeName{
    margin-left: 16px;
    font-size: 24px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.dateLineNow{
    position: absolute;
    background-color: white;
    height: 700px;
    width: 2px;
}

.dateLine{
    position: absolute;
    background-color: gray;
    height: 700px;
    width: 1px;
}

.dateNumber{
    margin-top: 5px;
    position: absolute;
    color: rgb(238, 238, 238);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}