.timeline-selection-container{
    height: 40px;
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline-selection-button{
    background-color: #494949;
    border-radius: 20px 20px 0 0;
    display: grid;
    align-items: end;
    justify-items: center;
    height: 100%;
}

.timeline-selection-button h1{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 6px 10px;
}

.timeline-container{
    height: 700px;
    background-color: rgb(38, 41, 46);
    width: 96%;
    margin-left: 2%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.timeline-container-inner{
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

.timeline-container::-webkit-scrollbar {
    height: 10px;
}   

.timeline-container::-webkit-scrollbar-track {
    background-color: rgba(0.4, 0.4, 0.4, 0.2);
}   

.timeline-container::-webkit-scrollbar-thumb {
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}

.timeline-node{
    position: absolute;
    background: linear-gradient(to right, rgb(0, 0, 0, 0), rgb(255, 255, 255, 1));
    overflow: hidden;
    clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 50%, calc(100% - 30px) 100%, 0 100%);
}

.timeline-node-inner{
    position: relative;
    width: calc(100% - 2px);
    height: calc(100% - 4px);
    margin: 2px 2px 2px 0;
    overflow: hidden;
    clip-path: polygon(0% 0%, calc(100% - 30px) 0%, 100% 50%, calc(100% - 30px) 100%, 0 100%);
}

.timeline-node-tail{
    position: absolute;
    margin-top: 2px;
    width: 29px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 100% 50%);
}

.timeline-node span{
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: center;
}

.timeline-node-name-background{
    position: absolute;
}

.timeline-node img{
    object-fit: cover;
    float: right;
    width: 250px;
    height: 100%;
}

.timeline-node-image-fadeover{
    position: absolute;
    float: right;
    width: 120px;
    height: 100%;
    right: 130px;
}

.timeline-date-month{
    position: absolute;
    color: #4F71B5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 2px;
}

.timeline-date-day{
    position: absolute;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
}

.timeline-date-line-top{
    position: absolute;
    background-color: #494949;
    width: 1px;
    height: 25px;
}

.timeline-date-line{
    position: absolute;
    background-color: #494949;
    width: 1px;
    margin-top: 54px;
    height: calc(100% - 54px);
}

.timeline-date-now{
    position: absolute;
    background-color: white;
    width: 2px;
    height: 100%;
}