#NodeContainer{
    height: 730px;
    background-color: rgb(38, 41, 46);
    width: 96%;
    margin-left: 2%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

#NodeContainer::-webkit-scrollbar {
    height: 10px;
}   

#NodeContainer::-webkit-scrollbar-track {
    background-color: rgba(0.4, 0.4, 0.4, 0.2);
}   

#NodeContainer::-webkit-scrollbar-thumb {
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
}

.node{
    display: flex;
    align-items: center;
    height: 43px;
    position: absolute;
    background-color: azure;
    border-radius: 15px;
}

.nodeTimeRemaining{
    position: absolute;
    right: 10px;
    color: white;
    font-size: 18px;
    padding: 4px;
    border-radius: 8px;
    background-color: rgba(0.4, 0.4, 0.4, 0.9);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nodeName{
    margin-left: 16px;
    font-size: 24px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.dateLineNow{
    position: absolute;
    background-color: white;
    height: 100%;
    width: 2px;
}

.dateLine{
    position: absolute;
    background-color: gray;
    height: 100%;
    width: 1px;
}

.dateNumber{
    margin-top: 28px;
    position: absolute;
    color: rgb(238, 238, 238);
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dateMonth{
    margin-top: 2px;
    position: absolute;
    color: rgb(207, 75, 75);
    font-weight: normal;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}